[Unit]
Description=Nautobot Celery Worker
Documentation=https://docs.nautobot.com/projects/core/en/stable/
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
Environment="NAUTOBOT_ROOT={{nautobot_user_home}}"

User={{nautobot_user}}
Group={{nautobot_user}}
PIDFile=/var/tmp/nautobot-worker.pid
WorkingDirectory={{nautobot_user_home}}

ExecStart={{nautobot_user_home}}/bin/nautobot-server celery worker --loglevel INFO --pidfile /var/tmp/nautobot-worker.pid

Restart=always
RestartSec=30
PrivateTmp=true

[Install]
WantedBy=multi-user.target
